.alert {
  border-radius:5px 5px 5px 5px / 5px 5px 5px 5px;
  padding: 15px;
  margin: 10px;
}
.alert.alert-success {
  border: 1px solid rgb(214, 233, 198);
  background-color: rgb(223, 240, 216);
  color: rgb(60, 119, 61);
}
.alert.alert-info {
  border: 1px solid rgb(188, 232, 241);
  background-color: rgb(218, 237, 247);
  color: rgb(49, 112, 143);
}
.alert.alert-warning {
  border: 1px solid rgb(250, 235, 204);
  background-color: rgb(252, 248, 227);
  color: rgb(138, 109, 59);
}
.alert.alert-danger {
  border: 1px solid rgb(235, 204, 209);
  background-color: rgb(242, 222, 222);
  color: rgb(170, 68, 66);
}

button.close {
  border: 0;
  padding: 0;
  position: relative;
  float: right;
  font-size: 21px;
  line-height: 0.7;
  opacity: 0.2;
  background-color: inherit;
}
button.close:hover {
  opacity: 0.7;
}

a.alert-link {
  font-weight: 900;
  text-decoration: none;
  color: inherit;
}
a:hover.alert-link {
  text-decoration: underline;
}
